.background {
    background-color: #101015;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    height: 88vh;
    background-color: green;
    width: 100%;
}

.leftMainContainer {
    color: black;
    background-color: red;
}

.rightMainContainer {
    color: black;
    background-color: yellow;
}

@media (max-width: 992px) {
    .mainContainer {
        flex-direction: column;
    }
    
}