.background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tradesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem;
}