.background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tradesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 72vh;
    max-height: 72vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem;
}

.tradingHistoryTitle {
    margin-bottom: 2rem;
    font-weight: bolder;
}

.tutorialNote {
    margin-bottom: 1rem;
}